.register {
    background: rgb(180, 192, 202);
}

.register .link {
    color: rgb(28, 91, 185);
}

.register .col1Con {
    display: flex;
}

.register .note {
    transform: translateY(-60%);
    font-size: 12px;
    color: rgb(128, 43, 43);
}

.register h6 {
    font-size: 15px;
    color: rgb(31, 52, 75);
}

.register .row {
    padding: 40px 0;
}

.register h2 {
    font-weight: 400;
}


.register .title {
    margin: 20px 0;
}

.register .box-title {
    margin: 20px 0;
}

.register .col1Con {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.register .col1Con input {
    margin: 15px 0;
    padding: 10px 10px;
    outline: none;
    border-radius: 4px;
    border: none;
}

.register .col1Con2 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.register label {
    color: rgb(38, 92, 117);
    font-size: 14px;
    margin: 0 10px;
}

.register .radio {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.register .terms {
    margin: 20px 0;
}