.features .row {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.feature-col-wide {
    flex-basis: 50%;
    display: flex;

}

.feature-col-wide h2 {
    margin: 0 5px;
}

.feature-col-wide .num {
    color: rgb(71, 139, 179);
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
}

.feature-col {
    flex-basis: 16%;
    display: flex;
    justify-content: center;
}

.features .border {
    background: rgb(106, 129, 146);
    height: 2px;
    width: 100%;
}