.testimonial .row {
    margin: 30px 0;
}

.testimonial .mini-row {
    margin: 6px 0;
}

.testimonial .fontawe {
    font-size: 60px;
    color: rgb(71, 125, 156);
}

.testimonial .usercol {
    flex-basis: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.testimonial .usercol img {
    margin-right: 20px;
}